<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">
  <listener>
    <listener-class>org.scalatra.servlet.ScalatraListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>AppZone</servlet-name>
    <servlet-class>jp.co.cyberagent.appzone.AppZoneServlet</servlet-class>
    <init-param>
      <param-name>org.scalatra.environment</param-name>
      <param-value>production</param-value>
    </init-param>
    <multipart-config>
      <max-file-size>52428800</max-file-size>
    </multipart-config>
  </servlet>

  <servlet-mapping>
    <servlet-name>AppZone</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>